// Fonts
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
$ff1: "Oswald", sans-serif;

// Colors
$blue: #00f;
$dark: #0f0f0f;
$light: #f0f0f0;
$white: #ffffff;
$login-box-background-color: #f7f7f7;

//Borders
$login-box-border: 1px solid #c5c9c1;
$border-bottom: 1px solid #c5c9c1;
